In [1]:
import numpy as np
import pandas as pd
import os
import nltk

In [2]:
os.chdir('C:\\Users\\thoma\\Documents\\UIC\\Courses\\IDS 566 Advanced Text Analytics\\HW1')

In [3]:
## Reading all the text files

In [4]:
txt1 = open("Input Text Files\\MIT.txt", 'r', encoding = 'utf8')
mit = txt1.read()

txt2 = open("Input Text Files\\Stanford.txt", 'r', encoding = 'utf8')
Stanford= txt2.read()

txt3 = open("Input Text Files\\Tesla.txt", 'r', encoding = 'utf8')
Tesla= txt3.read()

txt4 = open("Input Text Files\\UIC.txt", 'r', encoding = 'utf8')
UIC= txt4.read()

txt5 = open("Input Text Files\\UIS.txt", 'r', encoding = 'utf8')
UIS= txt5.read()

txt6 = open("Input Text Files\\UIUC.txt", 'r', encoding = 'utf8')
UIUC= txt6.read()

In [5]:
# pip install --user -U nltk

In [6]:
## Getting the list of stop words

In [7]:
from nltk.corpus import stopwords
stop_words = set(stopwords.words('english'))

In [8]:
## Removing punctuation and numbers from the texts

In [9]:
from string import punctuation
def strip_punctuation(s):
    return ''.join(c for c in s if c not in (punct1))

In [10]:
punct1 = punctuation+'–'
punct1

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~–'

In [11]:
def remove_numbers(a):
    return ''.join(c for c in a if not c.isdigit())

In [12]:
## Converting to lowercase and removing stopwords

In [13]:
def remove_words(text):
        return ' '.join([word for word in text.split() if word not in stop_words])

In [14]:
mit1 =remove_words(remove_numbers(strip_punctuation(mit.lower())))
Stanford1 =remove_words(remove_numbers(strip_punctuation(Stanford.lower())))
Tesla1 =remove_words(remove_numbers(strip_punctuation(Tesla.lower())))
UIC1 =remove_words(remove_numbers(strip_punctuation(UIC.lower())))
UIS1 =remove_words(remove_numbers(strip_punctuation(UIS.lower())))
UIUC1 =remove_words(remove_numbers(strip_punctuation(UIUC.lower())))

In [15]:
documents = [mit1,Stanford1, Tesla1, UIC1, UIS1, UIUC1]

In [16]:
# nltk.download('popular')

In [17]:
## importing required objects from nltk

In [18]:
from nltk.stem import PorterStemmer
from nltk.stem import LancasterStemmer
from nltk.tokenize import word_tokenize 
from nltk.probability import FreqDist
from nltk.corpus import stopwords

#create an object of class PorterStemmer
porter = PorterStemmer()
lancaster=LancasterStemmer()

In [19]:
## Tokenizing and Stemming the documents

In [20]:
documents2 = []
documents3 = []
document_stemmed = []

for i in range(0,len(documents)):
    documents2.append(word_tokenize(documents[i]))
    documents3.append(' '.join(documents2[i]).lower())
    document_stemmed.append(''.join(porter.stem(documents3[i])))

In [21]:
## Displaying the top 20 frequent words occuring in each document

In [22]:
fdist = []

for i in range(0,len(documents)):
    fdist.append(FreqDist(documents2[i]).most_common(20))

In [23]:
Frequent_words_frame = pd.DataFrame({
    'MIT': fdist[0],
    'STANFORD': fdist[1],
    'TESLA': fdist[2],
    'UIC': fdist[3],
    'UIS': fdist[4],
    'UIUC': fdist[5]
})

In [24]:
Frequent_words_frame

,MIT,STANFORD,TESLA,UIC,UIS,UIUC
0,"(mit, 570)","(stanford, 448)","(tesla, 742)","(university, 94)","(illinois, 46)","(university, 236)"
1,"(retrieved, 258)","(university, 226)","(retrieved, 416)","(chicago, 79)","(university, 45)","(illinois, 185)"
2,"(research, 89)","(retrieved, 176)","(model, 299)","(uic, 77)","(springfield, 28)","(retrieved, 129)"
3,"(institute, 83)","(students, 60)","(car, 130)","(illinois, 72)","(uis, 19)","(campus, 67)"
4,"(university, 83)","(campus, 60)","(motors, 123)","(campus, 72)","(public, 15)","(student, 51)"
5,"(new, 79)","(december, 40)","(musk, 108)","(retrieved, 69)","(retrieved, 14)","(urbanachampaign, 46)"
6,"(massachusetts, 78)","(october, 38)","(october, 104)","(world, 28)","(campus, 12)","(students, 46)"
7,"(technology, 74)","(june, 38)","(july, 100)","(students, 27)","(state, 12)","(research, 45)"
8,"(science, 71)","(center, 35)","(us, 100)","(college, 27)","(education, 9)","(archived, 41)"
9,"(campus, 58)","(student, 34)","(electric, 100)","(us, 25)","(first, 9)","(center, 39)"
10,"(faculty, 58)","(may, 34)","(cars, 99)","(universities, 24)","(general, 7)","(original, 39)"
11,"(original, 54)","(world, 32)","(november, 97)","(hall, 21)","(ssu, 7)","(world, 35)"
12,"(boston, 54)","(original, 30)","(january, 96)","(rankings, 20)","(permanent, 7)","(september, 35)"
13,"(archived, 52)","(national, 29)","(march, 94)","(student, 20)","(october, 7)","(library, 34)"
14,"(mits, 51)","(february, 27)","(august, 91)","(th, 19)","(athletics, 6)","(college, 34)"
15,"(students, 50)","(universities, 26)","(february, 90)","(pdf, 19)","(prairie, 6)","(august, 32)"
16,"(office, 50)","(new, 26)","(may, 87)","(office, 18)","(sangamon, 6)","(also, 31)"
17,"(school, 47)","(archived, 26)","(june, 85)","(june, 18)","(system, 6)","(national, 30)"
18,"(education, 42)","(faculty, 25)","(september, 81)","(colleges, 17)","(affairs, 6)","(july, 30)"
19,"(times, 42)","(also, 25)","(teslas, 78)","(graduate, 17)","(wikipedia, 5)","(october, 27)"

In [25]:
## Function for computing Jaccardian Similarity

In [26]:
def jaccard_similarity(query, document):
    intersection = set(query).intersection(set(document))
    union = set(query).union(set(document))
    return len(intersection)/len(union)

In [27]:
docnames = ['MIT','Stanford', 'Tesla', 'UIC', 'UIS', 'UIUC']

In [28]:
## Computing Jaccardian similarity for all 6 documents

In [29]:
js_sim = []
for i in range(0,6):
    for j in range(0,6):
        js = jaccard_similarity(document_stemmed[i],document_stemmed[j])
        js_sim.append(js)

In [30]:
js_sim_frame = pd.DataFrame(np.array(js_sim).reshape(6,6), columns = ['MIT','Stanford', 'Tesla', 'UIC', 'UIS', 'UIUC'],
                           index =  ['MIT','Stanford', 'Tesla', 'UIC', 'UIS', 'UIUC'])

In [31]:
js_sim_frame

               MIT  Stanford     Tesla       UIC       UIS      UIUC
MIT       1.000000  0.485149  0.434783  0.381818  0.317757  0.394495
Stanford  0.485149  1.000000  0.704225  0.687500  0.564516  0.714286
Tesla     0.434783  0.704225  1.000000  0.662162  0.454545  0.576923
UIC       0.381818  0.687500  0.662162  1.000000  0.650000  0.666667
UIS       0.317757  0.564516  0.454545  0.650000  1.000000  0.546875
UIUC      0.394495  0.714286  0.576923  0.666667  0.546875  1.000000

In [32]:
## Calculating tfidf scores

In [33]:
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.feature_extraction.text import TfidfVectorizer

# Set up the vectoriser, passing in the stop words
tfidf_vectorizer = TfidfVectorizer(stop_words='english')

In [34]:
tfidf = tfidf_vectorizer.fit_transform(document_stemmed)

In [35]:
pd.options.display.max_columns = None

In [36]:
tfidf_frame = pd.DataFrame(tfidf.toarray(), columns = tfidf_vectorizer.get_feature_names(), 
                           index = ['mit','Stanford', 'Tesla', 'UIC', 'UIS', 'UIUC'])
tfidf_frame.T.head()

       mit  Stanford     Tesla  UIC  UIS  UIUC
aa     0.0  0.000000  0.001328  0.0  0.0   0.0
aaa    0.0  0.000000  0.005313  0.0  0.0   0.0
aaai   0.0  0.004764  0.000000  0.0  0.0   0.0
aaas   0.0  0.000000  0.001328  0.0  0.0   0.0
aabar  0.0  0.000000  0.005313  0.0  0.0   0.0

In [37]:
## Function for highlighting tfidf scores greater than 0.005

In [38]:
def color_negative_red(val):
    color = 'red' if val >0.005 else 'black'
    return 'color: %s' % color

In [39]:
tfidf_first10 = tfidf_frame.T.head(10)
tfidf_last10 = tfidf_frame.T.tail(10)

In [40]:
## Displaying the first 10 and last 10 values of the tfidf matrix

In [41]:
s1 = tfidf_first10.style.applymap(color_negative_red)
s2 = tfidf_last10.style.applymap(color_negative_red)

In [42]:
s1

In [43]:
s2

In [44]:
## Calculating cosine similarity between documents

In [45]:
def cos_sim(tfdoc):
    return(tfdoc*tfdoc.T).toarray()

In [46]:
cos_sim(tfidf)

array([[1.        , 0.1605765 , 0.09213432, 0.21022339, 0.12999101,
        0.26053226],
       [0.1605765 , 1.        , 0.0813807 , 0.25572672, 0.20420775,
        0.32764167],
       [0.09213432, 0.0813807 , 1.        , 0.09936897, 0.05088362,
        0.12969657],
       [0.21022339, 0.25572672, 0.09936897, 1.        , 0.45180561,
        0.63196246],
       [0.12999101, 0.20420775, 0.05088362, 0.45180561, 1.        ,
        0.60621731],
       [0.26053226, 0.32764167, 0.12969657, 0.63196246, 0.60621731,
        1.        ]])

In [47]:
cs1 = pd.DataFrame(cos_sim(tfidf), columns = ['mit','Stanford', 'Tesla', 'UIC', 'UIS', 'UIUC'],
                  index = ['mit','Stanford', 'Tesla', 'UIC', 'UIS', 'UIUC'])

In [48]:
cs1

               mit  Stanford     Tesla       UIC       UIS      UIUC
mit       1.000000  0.160577  0.092134  0.210223  0.129991  0.260532
Stanford  0.160577  1.000000  0.081381  0.255727  0.204208  0.327642
Tesla     0.092134  0.081381  1.000000  0.099369  0.050884  0.129697
UIC       0.210223  0.255727  0.099369  1.000000  0.451806  0.631962
UIS       0.129991  0.204208  0.050884  0.451806  1.000000  0.606217
UIUC      0.260532  0.327642  0.129697  0.631962  0.606217  1.000000